@font-face {
  font-family: "sui generis";
  src: url(../../assets/sui\ generis\ rg.ttf);
}

.bar {
  display: flex;
  align-items: center;
}

.SearchInput {
  flex: 1;
  border: 0px;
  border-radius: 15px 0px 0px 15px;
  background-color: rgba(202, 236, 168, 0.854);
  height: 2em;
  font-family: "sui generis";
  font-size: medium;
  margin-left: px;
}

.SearchButton {
  font-family: "sui generis";
  margin-left: 1px; /* Modifica el margen izquierdo según tus necesidades */
  margin-right: 5px;
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  background-color: rgb(21, 189, 189);
  z-index: 1;
}

.SearchButton:hover:after {
  width: 100%;
  left: 0;
}

.SearchButton:after {
  border-radius: 5px;
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  z-index: -1;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  background-color: #80ed99;
  right: 0;
}

.SearchButton:active {
  top: 2px;
}
