@font-face {
  font-family: "sui generis";
  src: url(../../assets/sui\ generis\ rg.ttf);
}



.welcome {
  font-family: "sui generis";
  letter-spacing: 1px;
  margin-right: 10px;
  margin-top: 10px;
  height: fit-content;
  color: #fff;
  padding: 5px 100px 5px 100px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  display: inline-block;
  border-radius: 5px;
  border: 5px solid white;
  box-shadow: 1px 1px 11px 10px rgba(244, 244, 170, 0.66);
  -webkit-box-shadow: 1px 1px 11px 10px rgba(244, 244, 170, 0.66);
  -moz-box-shadow: 1px 1px 11px 10px rgba(244, 244, 170, 0.66);
  background-color: rgba(2, 217, 255, 0.438);
}

.welcome:hover {
  box-shadow: 1px 2px 22px 15px rgba(244, 244, 170, 0.66);
  -webkit-box-shadow: 1px 2px 22px 15px rgba(244, 244, 170, 0.66);
  -moz-box-shadow: 1px 2px 22px 15px rgba(244, 244, 170, 0.66);
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px auto; /* Agrega 'auto' para centrar horizontalmente */
  width: 90%;
}

.logos {
  width: 95px;
  height: auto;
}

.logoJS {
  width: 180px;
  height: auto;
}

.logoCSS {
  width: 69px;
  height: auto;
}

.logoRedux {
  width: 120px;
  height: auto;
}

.image {
  width: 350px; /* Ajusta el ancho deseado */
  height: auto; /* La altura se ajusta proporcionalmente */
  border-radius: 20px;
  position: relative;
  text-align: center;
  display: inline-block;
  border-radius: 22px;
  margin-right: 1em;
  border-radius: 22px;
  background: linear-gradient(145deg, #43ebee, #39c6c8);
  box-shadow: 5px 5px 5px #3a3c3c, -2px -2px 9px #058383;
}

.image:hover {
  box-shadow: 1px 2px 22px 15px rgba(244, 244, 170, 0.66);
  -webkit-box-shadow: 1px 2px 22px 15px rgba(244, 244, 170, 0.66);
  -moz-box-shadow: 1px 2px 22px 15px rgba(244, 244, 170, 0.66);
}

.description {
  font-family: "sui generis";
  font-size: medium;
  border: 5px solid white;
  height: 100%; /* Establece la altura al 100% */
  border-radius: 7%;
  background-color: rgba(245, 245, 220, 0.863);
}

.description:hover {
  box-shadow: 1px 2px 22px 15px rgba(244, 244, 170, 0.66);
  -webkit-box-shadow: 1px 2px 22px 15px rgba(244, 244, 170, 0.66);
  -moz-box-shadow: 1px 2px 22px 15px rgba(244, 244, 170, 0.66);
}

.redes{
  margin-right:-1em;
}

.instagram {
  color: rgba(41, 41, 46, 0.652);
}

.instagram:hover {
  color: rgb(246, 4, 165);
}

.linkedin {
  color: rgba(41, 41, 46, 0.652);
}

.linkedin:hover {
  color: rgb(35, 46, 196);
}

.github {
  color: rgba(41, 41, 46, 0.652);
}

.github:hover {
  color: rgb(245, 245, 250);
}
